body {
  background-image: url("bg.webp");
  background-color: #001a38;
  background-blend-mode: opacity(50%);
  background-size: 100%;
  background-position-y: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

body > table > td{
  text-align: center;
}

.tablet {
  background-color: #01438f;
  border-radius: 15px;
  width: 250px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  opacity: 90%;
  margin-top: 5%;
}

.tablet_h {
  width: fit-content;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.tablet > h1 {
  font-family: Comic Sans MS;
  color: #b4c8e0;
}

 
.btn {
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  background-color: #01438f;
  font-family: Comic Sans MS;
  font-size: 12pt;
  font-weight: bold;
  color: #b4c8e0;
  border-radius: 50px;
  border: 0;
  width: 40px;
  padding: 10px;
  opacity: 90%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.btn:hover {
  transform: scale(1.2);
  background-color: #002e63;
}