body {
  background-color: #001a38;
  text-align: left;
}

body > table > td{
  text-align: center;
}

.tablet {
  background-color: #034ca1;
  border-radius: 15px;
  width: fit-content;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 90%;
}

.tablet_scr {
  background-color: #2a60a1;
  border-radius: 15px;
  width: 80%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  opacity: 90%;
  margin-top: 5%;
}

#display {
  font-family: Comic Sans MS;
  color: #b4c8e0;
}

 
.btn {
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  background-color: #01438f;
  font-family: Comic Sans MS;
  font-size: 12pt;
  font-weight: bold;
  color: #b4c8e0;
  border-radius: 50px;
  border: 0;
  width: 40px;
  padding: 10px;
  opacity: 90%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.btn_ans {
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  background-color: #01438f;
  font-family: Comic Sans MS;
  font-size: 12pt;
  font-weight: bold;
  color: #b4c8e0;
  border-radius: 50px;
  border: 0;
  width: 110px;
  padding: 10px;
  opacity: 90%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.btn:hover, .btn_ans:hover {
  transform: scale(1.2);
  background-color: #002e63;
}